<!DOCTYPE html>
<html>
<head>
	<title>UserHomePage</title>
	<link rel="stylesheet" type="text/css" href="../stylesheets/userHome.css">
<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>
	<div class="main">  	
		<input type="checkbox" id="chk" aria-hidden="true">

			<div class="userHomePage">
					<label for="chk" aria-hidden="true">heii {{name}} welcome back to your portal</label>
			</div>

			<div class="logout">
					<form action="/logout">
					<label for="chk" aria-hidden="true">Logout</label>
					<h3 class="question">are you sure you want to logout?</h3>
					<button>Logout</button>
					</form>
			</div>
	</div>
</body>
</html>